.shake-image {
  transition: transform 0.1s;
}
.shake-image-click {
  animation: shake 2s infinite;
}
.shake-image:hover {
  animation: shake 2s infinite;
}
@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(10deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
